.task {
  &-search {
    padding-bottom: 10px;

    input {
      font-size: 16px;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
      border: none;
      border-radius: 16px;
      padding: 10px 20px;
      color: var(--primary-color);
      background-color: var(--background-color);

      &:hover {
        background-color: var(--background-color);
      }

      &:focus {
        background-color: var(--background-color);
      }

      &::placeholder {
        color: var(--secondary-color);
      }
    }
  }

  &-list {
    background-color: var(--background-color);
    border-radius: 16px;
    height: fit-content;
    overflow-y: auto;
    max-height: 60vh;
    scrollbar-width: none;

    &__header {
      background-color: var(--background-color);
      font-weight: 700;
      font-size: 16px;
      position: sticky;
      top: 0;
      z-index: 10;
      padding: 10px;

      &-content {
        background-color: var(--main-background-color);
        border-radius: 6px;
        padding: 20px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      padding: 0px 10px 10px 10px;
      gap: 10px;
    }
  }
}

.no_items {
  width: 100%;
  display: flex;
  justify-content: center;
}
