.modal {
  border-radius: var(--rounded);

  &__title {
    font-weight: 600;
    font-size: 20px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__footer {
    width: 100%;
    margin-top: 20px;

    button {
      width: 100%;
      background-color: var(--background-color);
      border: none;
      border-radius: var(--rounded);
      padding: 22px 0;
      font-size: 18px;
      font-weight: 600;
      box-shadow: none;

      &:hover {
        background-color: var(--background-color);
        filter: brightness(0.9);
      }
    }
  }
}
