@import "@/app/styles/index.scss";

.board {
  display: "flex";
  justify-content: "center";
  padding: "20px 0";
  width: "100%";
  gap: var(--rounded-sm);
  overflow-x: auto;
  box-sizing: border-box;

  &__columns {
    display: flex;
    justify-content: space-between;
  }

    &::-webkit-scrollbar {
    display: none;
  }
  
  scrollbar-width: none;
  -ms-overflow-style: none;

   & > * {
    flex: 1 1 0;
    min-width: 250px;
    max-width: none;
  }
}

.no_items {
  width: 100%;
  display: flex;
  justify-content: center;
}

