.board {
  display: "flex";
  justify-content: "center";
  padding: "20px 0";
  width: "100%";

  &__columns {
    display: flex;
    justify-content: space-between;
  }
}

.no_items {
  width: 100%;
  display: flex;
  justify-content: center;
}
